
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Doodle+Shadow&display=swap');




.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: rgb(61, 61, 61);
    width: 500px;
    height: 800px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}


.fields {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
      
}

.fieldGap {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   box-sizing: border-box;

   padding-top: 30px;
   padding-bottom: 30px;
    height: 100%;
    flex: 1; 
    margin-top: 50px;
    margin-bottom: 50px;
    
}

input {
    height: 20px;
    width: 80%;
      border: 2px solid #252525; 
  border-radius: 4px;
    background-color: rgb(63, 63, 63);
}

.inputs input {
    color: white;
}

.header {

    user-select: none;
    width: 100%;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.labels {
    user-select: none;
     flex: 0 0 35%;
  align-items: flex-end;
  font-size: larger;
}

.label label {
      white-space: nowrap;   
     overflow: hidden;
     font-size: clamp(12px, 2vw, 16px);
}
.inputs {
    border-top-right-radius: 10px;   
    border-bottom-right-radius: 10px;   
    background: #000000;
background: linear-gradient(277deg, rgba(0, 0, 0, 1) 0%, rgba(31, 0, 77, 1) 31%, rgba(67, 4, 130, 1) 73%, rgba(0, 20, 122, 1) 100%);
}

.submitContainer {
        border-radius: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    background-color: rgb(48, 48, 48);
   border: 2px solid #1d1d1d; 
    justify-content: center;
    align-items: center;
}

.submit {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     font-size: 2em;
     font-weight: 600;
}

.success {
    color:white;
}